.badge-list-container .badge-container {
  cursor: pointer;
  height: 120px;
  color: #6A6A6A;
  font-size: 1.2rem;
  order: 1;
  padding: 20px; }
  .badge-list-container .badge-container .badge-image {
    border-radius: 50%;
    width: 75px;
    height: 75px; }
  .badge-list-container .badge-container .badge-name {
    float: right;
    padding-top: 20px;
    color: white; }
  .badge-list-container .badge-container.active, .badge-list-container .badge-container:hover {
    background-image: linear-gradient(to right, #B047B0 0%, #F65A9C 80%); }

.badge-list-container .link {
  text-decoration: none; }
