.badge-list-container {

  .badge-container {
    cursor: pointer;
    height: 120px;
    color: #445D7D;
    font-size: 1.2rem;
    order: 1;
    padding: 20px;

    .badge-image {
      border-radius: 50%;
      width: 75px;
      height: 75px;
    }
    
    .badge-name {
      float: right;
      padding-top: 20px;
      color: white;
    }

    &.active, &:hover {
      background-image: linear-gradient(to right, #B047B0 0%, #F65A9C 80%);    }
  }

  .link {
    text-decoration: none;
  }
}