.chat-box .messages {
  height: 70vh;
  overflow-y: scroll;
  width: 80vw; }
  .chat-box .messages .message-container {
    display: flex;
    flex-direction: row; }
    .chat-box .messages .message-container .message-image {
      border-radius: 50%;
      margin-right: 15px;
      width: 40px;
      height: 40px; }
      .chat-box .messages .message-container .message-image.user_sent {
        float: right;
        order: 1;
        margin-left: 10px; }
      .chat-box .messages .message-container .message-image.others_sent {
        float: left;
        margin-right: 10px; }
    .chat-box .messages .message-container .message {
      padding-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 0 6px #B2B2B2;
      display: inline-block;
      padding: 10px 18px;
      position: relative;
      vertical-align: top;
      width: 60%; }
      .chat-box .messages .message-container .message.others_sent {
        float: left;
        margin: 5px 45px 5px 20px;
        background-color: #D3D3D3; }
      .chat-box .messages .message-container .message.others_sent::before {
        background-color: #D3D3D3;
        box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
        left: -9px; }
      .chat-box .messages .message-container .message.user_sent {
        float: right;
        margin: 5px 20px 5px 45px;
        background-color: #D13477;
        text-align: right;
        color: white; }
      .chat-box .messages .message-container .message.user_sent::before {
        background-color: #D13477;
        box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, 0.4);
        right: -9px; }
    .chat-box .messages .message-container .message::before {
      content: "\00a0";
      display: block;
      height: 16px;
      position: absolute;
      top: 11px;
      transform: rotate(29deg) skew(-35deg);
      -moz-transform: rotate(29deg) skew(-35deg);
      -ms-transform: rotate(29deg) skew(-35deg);
      -o-transform: rotate(29deg) skew(-35deg);
      -webkit-transform: rotate(29deg) skew(-35deg);
      width: 20px; }

.chat-box .sendBar {
  width: 100%;
  border: 3px;
  display: flex;
  flex-direction: row; }
  .chat-box .sendBar .input-container {
    width: 100%;
    display: flex;
    flex-direction: row; }
    .chat-box .sendBar .input-container .inputBar {
      border-color: #D13477; }
  .chat-box .sendBar .chatButton {
    width: 10%;
    padding: 12px 10px;
    float: right; }
