.fan-page {
  position: relative;
  padding-left: 300px;
  background-color: #E5E9EF;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  .banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .banner-text-container {
    z-index: 2;
    color: white;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    height: 100px;
    line-height: 100px;
    width: 100%;
    .group-name {
      padding-left: 40px;
    }
    .badge-count {
      float: right;
      padding-right: 40px;
      margin-top: 8px;
      position: absolute;
      right: 5px;
    }
  }
  .ui.header.menu {
    border-radius: 0%;
    height: 300px;
    .item {
      color: white;
      border: none;
      outline: none;
      left: 40%;
      position: relative;
    }
  }
}
