.fan-page {
  position: relative;
  padding-left: 300px;
  height: 100vh;
  overflow: hidden;
  background-color: #E5E9EF; }
  .fan-page .ui.header.menu {
    background-color: #6E829D;
    border-radius: 0%;
    height: 75px; }
    .fan-page .ui.header.menu .item {
      color: white;
      border: none;
      outline: none;
      left: 40%;
      position: relative; }
