.contents-container {
  margin-left: 150px;
  height: 40vh;
  width: 60vw;
  padding-left: 0;
  display: flex;
  flex-direction: row; }
  .contents-container .post {
    width: 100%; }
  .contents-container .ui.button.nav-btn {
    height: 40px;
    margin: 0 .25em 0 .25em; }

.hidden {
  display: none; }

.headers {
  padding-left: 20px; }
  .headers .exclusive-subheader {
    margin-top: 0; }
